<div class="widget-wrap">
  <h3 class="widget-title">友链</h3>
  <div class="widget">
    <a href="https://www.starduster.me" target="_blank">星尘独奏曲</a><br />
    <a href="http://www.zhouchao.me" target="_blank">chao's blog</a><br />
    <a href="http://ilazycat.com" target="_blank">小黑猫菊苣的猫窝</a><br />
    <a href="https://loli.be" target="_blank">Mashiro's Blog</a><br />
    <a href="https://bismarck.moe" target="_blank">雨宫千鹤的博客</a><br />
    <a href="https://blessing.studio" target="_blank">Blessing Studio</a><br />
    <a href="https://wwww.lvmoo.com" target="_blank">凯の秘密基地</a><br />
    <a href="https://apporz.com" target="_blank">Micooz's Personal Site</a><br />
    <a href="https://stefenson.github.io" target="_blank">Stefenson's Blog</a><br />
    <a href="https://sunskyxh.github.io" target="_blank">香香鸡的小窝</a>
  </div>
</div>
