<div class="widget-wrap">
  <h3 class="widget-title">友链</h3>
  <div class="widget">
    <a href="https://www.starduster.me" target="_blank">星尘独奏曲</a><br/>
    <a href="http://www.zhouchao.me" target="_blank">chao's blog</a><br/>
    <a href="http://ilazycat.com" target="_blank">小黑猫菊苣的猫窝</a><br/>
    <a href="https://loli.be" target="_blank">Mashiro's Blog</a>
  </div>
</div>
